mixin slider(modifier)
  .slider&attributes(attributes)
    .slider__slider.swiper-container 
      .slider__items.swiper-wrapper  
        .slider__item.swiper-slide
          h4.slider__title One time offer!
          .slider__price 
            span.slider__one 50
              include img/rc.svg
            span / 
            span $5
        .slider__item.swiper-slide
          h4.slider__title One time offer!
          .slider__price 
            span.slider__one 50
              include img/rc.svg
            span / 
            span $5
        .slider__item.swiper-slide
          h4.slider__title One time offer!
          .slider__price 
            span.slider__one 50
              include img/rc.svg
            span / 
            span $5
        .slider__item.swiper-slide
          h4.slider__title One time offer!
          .slider__price 
            span.slider__one 50
              include img/rc.svg
            span / 
            span $5
        .slider__item.swiper-slide
          h4.slider__title One time offer!
          .slider__price 
            span.slider__one 50
              include img/rc.svg
            span / 
            span $5
        .slider__item.swiper-slide
          h4.slider__title One time offer!
          .slider__price 
            span.slider__one 50
              include img/rc.svg
            span / 
            span $5
      .slider__pagination.swiper-pagination