.sidebar {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-basis: 25%;

        &__content {
            width: 100%;
            border-radius: 10px;
            border: 2px solid rgba(149, 100, 170, 0.20);
            background: rgba(149, 100, 170, 0.10);
            padding: 20px;
            margin: 30px 0;
        }
    
        &__present {
            display: flex;
            gap: 0 15px;
            align-items: center;
            padding-bottom: 20px;
            border-bottom: 2px solid rgba(149, 100, 170, 0.2);
        }
    
       
        &__title {
            color: #000;
            font-family: Ubuntu;
            font-size: 16px;
            font-weight: 700;
            line-height: 112%;
            margin-bottom: 5px;
        }
    
        &__btn {
            border-radius: 5px;
            background: #684677;
            padding: 5px 10px;
            color: #FFF;
            font-family: Ubuntu;
            font-size: 10px;
            line-height: 110%;
        }
    
        &__list {
            margin: 20px 0 0 15px;
        }

        &__link {
            margin-bottom: 25px;
            display: inline-flex;
            align-items: center;
            gap: 0 25px;
            transition: .2s;
        }
    
        &__link:hover {
            svg {
                path {
                    fill: #FFCF2D;
                }
                rect {
                    fill: #FFCF2D;
                }
            }
        }
    
        &__text {
            color: #000;
            font-family: Ubuntu;
            font-size: 14px;
            line-height: 112%;
            transition: .2s;
        }

        &__text:hover {
            font-weight: 700;
        }

    }

    @media screen and (min-width: 950px) {
        &__text {
           font-size: 16px;
        }

        &__link {
            gap: 0 30px;
        }
    }


   

    
  
}
