include ../blocks/header/header.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/sidebar/sidebar.pug
include ../blocks/main/main.pug
include ../blocks/slider/slider.pug
include ../blocks/premium/premium.pug
