@import 'mixins';



/* Plugins */



/* Blocks */

/*html {
  scroll-behavior: smooth;
}*/

body, ul, ol {
  margin: 0;
  padding: 0;

}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
  font-weight: normal;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}








@import './src/blocks/header/header';
@import './src/blocks/wrapper/wrapper';
@import './src/blocks/sidebar/sidebar';
@import './src/blocks/main/main';
@import './src/blocks/slider/slider';
@import './src/blocks/premium/premium';