.main {
    flex: 1;
    &__content {
        width: 100%;
        padding: 0 10px;
        margin-bottom: 50px;
    }

    &__title-one {
        color: #000;
        text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-family: Ubuntu;
        font-size: 20px;
        font-weight: 700;
        line-height: 115%;
        margin-top: 15px;
        margin-bottom: 23px;
        padding-bottom: 10px;
        border-bottom: 2px solid rgba(149, 100, 170, 0.2);
    }

    &__btn-mobile {
        border-radius: 10px;
        background: #FFCF2D;
        //padding: 17px 95px 20px;
        color: #000;
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 700;
        line-height: 112%;
        width: 280px;
        height: 55px;
        margin: 34px auto 15px;
        display: block;
    }

    &__discount {
       display: none;
    }

    &__list {
       display: none;
    }

    &__checkbox {
        display: flex;
    }

    input[type="checkbox"] {
        display: none;
    }

    label:before {
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 5px;
        background: #9564AA;
        margin-right: 10px;
        cursor: pointer;
        display: flex;
    }

    &__checkbox input:checked + label:before {
        content: url(../img/check.svg);
        text-align: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__small-text {
        color: #000;
        font-family: Ubuntu;
        font-size: 10px;
        line-height: 120%; 
        display: -webkit-box;
        margin-bottom: 33px;
        width: 89%;
        a {
            color: #9564AA;
        }
    }

    @media screen and (min-width: 426px) {
        &__title-one {
            text-align: center;
        }

        &__small-text {
            font-size: 10px;
            display: flex;
            justify-content: center;
            align-items: center; 
            width: 100%;
        }

    }

    @media screen and (min-width: 768px) {
        &__title-one {
            text-align: left;
            font-size: 40px;
        }

        &__discount {
            margin-top: 30px;
            margin-bottom: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            background: #C15CA1;
            padding: 13px;
            gap: 0 5px;
        }

        &__title {
            color: #FFCF2D;
            font-family: Ubuntu;
            font-size: 30px;
            font-weight: 700;
            line-height: 115%;
            letter-spacing: 1.6px;
            -webkit-text-stroke: 0.5px white;
            text-align: center;
        }
    
        &__text {
            color: #FFF;
            text-align: center;
            font-family: Ubuntu;
            font-size: 15px;
            font-weight: 700;
            line-height: 113%;
        }
    
        &__timer {
            display: flex;
            padding: 5px 20px;
            gap: 0 10px;
            border-radius: 5px;
            background: #FFF;
            span {
                color: #000;
                text-align: center;
                font-family: Ubuntu;
                font-size: 38px;
                line-height: 115%;
            }
        }
    
        &__list {
            display: flex;
            justify-content: space-between;
            gap: 15px 10px;
            flex-wrap: wrap;
            margin-bottom: 12px;
        }
    
        &__item {
            border-radius: 10px;
            border: 2px solid #9564AA;
            background: rgba(149, 100, 170, 0.10);
            padding: 15px 15px 17px 15px;
            flex-grow: 1;
            flex-basis: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            cursor: pointer;
            transition: .2s;
            &--big {
                border: 2px solid #AA6464;
                background: rgba(170, 100, 100, 0.20);

            }
        }
    
        &__item:hover::before {
            content: "One time offer!"; 
            position: absolute; 
            top: -15px; 
            left: 50%; 
            transform: translateX(-50%); 
            padding: 3px 10px 4px; 
            background: #FFCF2D;
            border-radius: 5px;
            z-index: 1; 
            width: 75%;
            max-width: 123px;
            color: #000;
            font-family: Ubuntu;
            font-size: 14px;
            font-weight: 700;
            line-height: 114%;
            text-align: center;
        }
    
        &__item:hover {
            background: #9564AA;
        }
    
        &__item:hover &__price {
            color: #FFF;
        }
    
        &__item:hover &__btn {
            background: #FFCF2D;
            color: #000;
        }
    
        &__price {
            color: #000;
            font-family: Ubuntu;
            font-size: 24px;
            font-weight: 700;
            line-height: 116%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0 5px;
            margin-bottom: 10px;
        }
    
        &__btn {
            border-radius: 5px;
            background: #FFF;
            padding: 17px 25px;
            color: rgba(0, 0, 0, 0.2);
            font-family: Ubuntu;
            font-size: 16px;
            font-weight: 500;
            line-height: 112%;
        }

        .slider {
            display: none;
        }

        &__btn-mobile {
            display: none;
        }

        &__small-text {
            font-size: 13px;
            justify-content: start;
        }
    }

    @media screen and (min-width: 1024px) {
        &__title {
            font-size: 38px;
        }

        &__text {
            font-size: 16px;
        }
    }

   



    
  
}
